body{
    font-family: 'Inter', sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.addButton{
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    border-radius: 13px;
    border-width: thin;
}
@media screen and (max-width: 1440px) {
    .content{
        font-size: x-large;
    }
    .addButton{
        font-size: x-large;
    }
}
.overflower{
    overflow-x: auto;
}
.liste{
    border-collapse: collapse;
    width: 100%;
       
}
tbody{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.titres{
    text-align: center;
    width: 100%;
    background-color: #BBBBBB;
    border-bottom: 1px solid black;
}
th{
    width: 20%;
}
tr:nth-child(even) {
    background-color: #eee;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
td{
    text-align: center;
}

hr.navDivider {
    margin-top : 1px;
    margin-bottom: 1rem;
    border-top: 3px solid #777777;
}