:root{
    --main-gray-color : #777777;
    --navlink-gray-color : #a9a9a9;
    --hover-gray-color : #959595;
}

.nav-pills .nav-link.active {
    color : #000000;
    background-color: var(--navlink-gray-color);
    border-radius: 0px;
    transition: background-color .15s ease-in-out;
}

.nav-pills .nav-link.active:hover{
    background-color: var(--hover-gray-color);
}

hr.navDivider {
    margin-top : 1px;
    margin-bottom: 1rem;
    border-top: 3px solid var(--main-gray-color);
}
 .text-justify {
     text-align: justify !important;
 }

 .border-secondary {
     border-color: var(--main-gray-color);
     border-width: 2px;
 }

 .figurine-img-border{
     border-bottom: 2px solid var(--main-gray-color);
 }

 .liste-figurine-row .col{
     margin-bottom: 1rem;
 }

 .description{
    width: 60%;
 }

 .card-img-top{
     width: 100%;
     height: 16vw;
     object-fit: contain;
 }

 @media only screen and (max-width: 767px) {
    .hide-button-lg {
        display: none !important;
    }
 }

@media only screen and (min-width: 768px) {
    .hide-button-sm {
        display: none !important;
    }
}

.login{
    text-decoration: none;
    background-color: var(--navlink-gray-color);
    color: black;
    padding: 0.375rem 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    transition: background-color .2s ease-in-out;
}

.login:hover{
    color: black;
    background-color: var(--main-gray-color);
}

.login:visited, .login:link{
    color: black;
}